*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cabin', sans-serif;
    width: 1400px;
    margin: 0 auto;
    background: #EEEEEF;
}

.header {
    position: fixed;    
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.header-content {
    background: #10BBD5;
    display: flex;
    justify-content: space-between;
    padding: 16px 52px;


}

.header-logo {
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
}

.header-logo .icon {
    width: 26px;
    height: 24px;
}

.header-logo-content {
    color: #F8FDFE;
    font-size: 24px;
    font-weight: 700;

}

.header-basket {
    display: flex;
    align-items: center;
    gap: 8px;
}

.busket {
    background-color: #10BBD5;
    border: none;
    position: relative;
    top: -5px;
    right: 0;
}

.header-cash {
    color: #F8FDFE;
    font-size: 16px;
}

.wheel-left {
    width: 8px;
    height: 8px;
    background: #F8FDFE;
    border-radius: 50px;
    position: absolute;
    right: 18px;
    top: 25px;
    
}

.wheel-right {
    width: 8px;
    height: 8px;
    background: #F8FDFE;
    border-radius: 50px;
    position: absolute;
    right: 5px;
    top: 25px;
}

.busket-number {
    position: absolute;
    z-index: 2;
    right: 60px;
    top: 17px;
    color: black
}

.header-menu {
    display: flex;
    justify-content: space-between;
    padding: 4px 52px;
    background: #FFF;
}

.header-menu-content {
    color: #000;
    font-size: 16px;
}

.header-menu-navigation {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    list-style: none;
}

.header-menu-navigation a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.massege-button {
    background-color: #10BBD5;
    width: 64px;
    height: 64px;
    position: fixed;
    top: 700px;
    right: 28px;
    border-radius: 50px;
    box-sizing: border-box;
    border-color: #10BBD5;

}

.main {
    margin: 88px 52px;
    
}

.main-title {
    color: #1F1F1F;
    font-size: 32px;
    font-weight: 600;
}

.main-title-box {
    padding: 63px 0 23px 0;
    margin-bottom: 24px;
    border-bottom: 1px solid #A8A8A8;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;


}

.main-content-box {
    width: 234px;
    padding: 32px;
    border: 1px solid black;
    display: flex;
    flex-direction: column  ;
    background: #F8FDFE;
    position: relative;
}

.imege {
    padding: 0 20px 0 20px;
    width: 178px;
    height: 280px;
}

.main-content-song-title {
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
    padding-top: 16px;
    border-bottom: 1px solid #000;
}

.main-content-name {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.content-name {
    font-size: 16px;
    color: #8E8E8E;
}

.main-content-price {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.content-price {
    color: #E90000;
    font-size: 24px;
    font-weight: 500;

}

.content-price-off{
    color:#8E8E8E;
    font-size: 24px;
    font-weight: 500;
    text-decoration-line: line-through;
}


.main-content-button {
    margin-top: 16px;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    color: #F8FDFE;
    font-size: 16px;
    border-radius: 4px;
}

.add-buscet {
    background: #4C394E;
}

.end-up {
    background: #4D762D;
}

.footer {
    display: flex;
    justify-content: space-between;
    background: #4C394E;
    position: absolute;
    width: 100%;
    left: 0;
}

.footer-content {
    color:#F8FDFE;
    font-size: 16px;
    padding: 32px;
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chips {
    position: absolute;
    color: #F8FDFE;
    padding: 4px 8px;
    border-radius: 4px;
    box-sizing: border-box;
    z-index: 2;
}

.chips-hit {
    background: #4200FF;
    left: 45px;
}

.chips-new {
    background: #AF39E7;
    left: 35px;
}

.chips-off {
    background: #EA33C0;
    left: 85px;
}

.off-one {
    background: #AF39E7;
    left: 35px;
}